<div style="padding: 50px">
    <hi style="color:red; margin-left: 120px">My To Do List</hi>
    <div class="row" class="col-sm-12">
        <input id="TodoListTextbox" type="text" name="input" placeholder="Title..." ng-model="TodoValue" style="height: 45px; width:30%;"/>
        <button class="addBtn" ng-click="newElement();">Add</button>
    </div>
    <div class="row" class="col-sm-12">
        <ul id="myUL" style="width:35%">
            <li class="checked">Hit the gym</li>
            <li>Pay bills</li>
            <li>Meet George</li>   
        </ul>
    </div>
</div>